<head>
    <meta charset="UTF-8" />
    <link href="../jquery-ui/jquery-ui.css" rel="stylesheet" charset="utf-8" />
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8"/>
    <link href="../css/common.css" rel="stylesheet" charset="utf-8"/>
    <script src="../jquery/jquery-2.2.3.min.js"></script>
    <script src="../jquery-ui/jquery-ui.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/cookie.js"></script>
</head>