
.inner, .nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 767px) {
  body {
    font-size: 70%;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s;
          transition: transform 1.5s;
  -webkit-perspective: 3000;
          perspective: 3000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.page {
  padding-right: 260px;
  float:left;
  height: 100%;
  -webkit-transform: rotateX(180deg) scale(0.3);
          transform: rotateX(180deg) scale(0.3);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition: transform 1s ease-in-out;
  will-change: transform;
}
.wrapper .page h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 3em;
}
.wrapper .page.page1 {
  background-color: #66a6b8;
  background-image: -webkit-linear-gradient(-280deg, #66a6b8 20%, #5471B9 80%);
  background-image: -webkit-linear-gradient(80deg, #66a6b8 20%, #5471B9 80%);
  background-image: linear-gradient(10deg,#66a6b8 20%, #5471B9 80%);
}
.wrapper .page.page2 {
  background-color: #f29c54;
  background-image: -webkit-linear-gradient(-315deg, #f29c54 0%, #DB4367 100%);
  background-image: -webkit-linear-gradient(45deg, #f29c54 0%, #DB4367 100%);
  background-image: linear-gradient(45deg,#f29c54 0%, #DB4367 100%);
}
.wrapper .page.page3 {
  background-color: #23af56;
  background-image: -webkit-linear-gradient(-405deg, #23af56 0%, #67A79A 100%);
  background-image: -webkit-linear-gradient(315deg, #23af56 0%, #67A79A 100%);
  background-image: linear-gradient(135deg,#23af56 0%, #67A79A 100%);
}
.wrapper .page.page4 {
  background-color: #412F2F;
  background-image: -webkit-linear-gradient(-430deg, #412F2F 15%, #6B2686 85%);
  background-image: -webkit-linear-gradient(290deg, #412F2F 15%, #6B2686 85%);
  background-image: linear-gradient(160deg,#412F2F 15%, #6B2686 85%);
}
.wrapper.active-page1 {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.wrapper.active-page1 .page.page1 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page2 {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.wrapper.active-page2 .page.page2 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page3 {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}
.wrapper.active-page3 .page.page3 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page4 {
  -webkit-transform: translateY(-300%);
      -ms-transform: translateY(-300%);
          transform: translateY(-300%);
}
.wrapper.active-page4 .page.page4 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page5 {
  -webkit-transform: translateY(-400%);
      -ms-transform: translateY(-400%);
          transform: translateY(-400%);
}
.wrapper.active-page5 .page.page5 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page6 {
  -webkit-transform: translateY(-500%);
      -ms-transform: translateY(-500%);
          transform: translateY(-500%);
}
.wrapper.active-page6 .page.page6 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page7 {
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);
}
.wrapper.active-page7 .page.page7 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page8 {
  -webkit-transform: translateY(-700%);
      -ms-transform: translateY(-700%);
          transform: translateY(-700%);
}
.wrapper.active-page8 .page.page8 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page9 {
  -webkit-transform: translateY(-800%);
      -ms-transform: translateY(-800%);
          transform: translateY(-800%);
}
.wrapper.active-page9 .page.page9 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page10 {
  -webkit-transform: translateY(-900%);
      -ms-transform: translateY(-900%);
          transform: translateY(-900%);
}
.wrapper.active-page10 .page.page10 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
