<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header" />
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/index"><span class="glyphicon glyphicon-home"></span> southDoor</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/urllist">url</a></li>
				<li><a href="/proxylist">proxy</a></li>
				<li><a href="/browser">browser</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<div class="clearfix nav-height"></div>
<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading float-header">
				<a class="btn btn-default btn-xs add-header" data-loading-text="Check..."  id="add-url-button" href="javascript:void(0)">
				<span class="glyphicon glyphicon-plus"></span>	Add
				</a>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>ShowName</th>
						<th>Group</th>
						<th>Url</th>
						<th>Port</th>
						<th class="operate">Operate</th>
					</tr>
					</thead>
					<tbody id="show-url-list">

					</tbody>
				</table>
			</div>
		</div><!-- .panel -->
	</div><!-- .row -->
</div><!-- .container-fluid -->

<!-- save flow chart modal -->
<div id="add-url-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Url</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>group</label>
					<input type="text" name="modal-group" class="form-control"  placeholder="itemservice" />
				</div>
				<div class="form-group">
					<label>showName</label>
					<input type="text" name="modal-showName" class="form-control"  placeholder="south-door" />
				</div>
				<div class="form-group">
					<label>url</label>
					<input type="text" name="modal-url" class="form-control"  placeholder="http://127.0.0.1" />
				</div>
				<div class="form-group">
					<label>proxyPort</label>
					<input type="text" name="modal-proxyPort" class="form-control"  placeholder="8018" />
				</div>
				<div class="alert div-alert-warning hidden" id="url-manager-alert">

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" id="save-url-modal-confirm">Save</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div th:include="common/modal ::  page_modal"></div>

<script src="../js/urllist.js"></script>
<script th:inline="JavaScript">
	/*<![CDATA[*/

	/*]]>*/

</script>
</body>
</html>
